.card-deck{
    width: 600px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px;
    margin: 0 auto;
    float: none;  
    margin-bottom: 10px; 
    transition: transform 0.2s;
    margin-top: 35px;
}
.card-deck:hover{
    transform: scale(1,1.05);
}
.title-img{
    text-align: center;

}
.img-of-day img{
    overflow: hidden;
    width: 600px;
}
.explanation{
    margin: 1rem;
    margin-top: 0.5rem;
}
.date{
    text-align: right;
    margin: 1rem;
}