.Date {
    text-align: center;
    align-items: center;

  }

.submitButton {
    border: 0px solid #d9d9d9;
    width: 50px;
    border-radius: 35%;
    /* position: relative; */
    margin-top: 15px;
    vertical-align: bottom



}

.dateForm{
    font-family: sans-serif;
    border: 1px solid #d9d9d9;
    border-radius: 75px;
    /* box-sizing: border-box; */
    padding: 5px;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    height:30px;


}
/* .center {
    text-align: center;
  } */